
<div class="dash-left navbar-nav">
    <ul>
        <li ><a href="/admin/dashboard" >Dashboard</a></li>
        <li><a href="/blog/display">Blogs</a></li>
        <li><a href="/Category/displaycat">Categories</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about1">About</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>  